<a href="https://colab.research.google.com/github/sameerraj227/python_library/blob/main/numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

#array declaration(in form of list) using np

variable_name=np.array([num1,num2,num3])

In [ ]:
 job_titles=np.array(['Data Analyst','Data Scientist','Data Engineer','Machine Learning Engineer'])

 base_salary=np.array([50000,70000,80000,90000])

 bonus_rates=np.array([0.05,0.1,0.8,0.12])

In [ ]:
total_salary=base_salary+(base_salary*bonus_rates)

total_salary

array([ 52500.,  77000., 144000., 100800.])

In [ ]:
np.mean(total_salary)

np.float64(93575.0)